export(auc, cmd, common.shared, drop1.geeglm, lower.tri.vector, ordered.clusters, rootonorm, geekin)

exportPattern("print.geekin")
exportPattern("common\\.shared.*")
exportPattern("residualplot.*")
exportPattern("QIC.*")
exportPattern("wallyplot.*")
exportPattern("segregate.genes")
exportPattern("rmvtnorm.pedigree")
exportPattern("rmvt.pedigree")
exportPattern("feature.test")
exportPattern("power*")
exportPattern("gkgamma")
exportPattern("desctable.*")
exportPattern("adaptive.weights")

import(geepack)
import(glmnet)
import(Matrix)

importFrom(parallel, mclapply, detectCores)
importFrom(mvtnorm, rmvnorm, rmvt)
importFrom(kinship2, kinship)
